<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Travel Lodge Hotel</title>
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' https: localhost:*; script-src <% if(isLocal) { %> 'unsafe-eval' <% } %> 'unsafe-inline' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';"
    />
    <meta name="importmap-type" content="systemjs-importmap" />

    <script type="systemjs-importmap">
      {
        "imports": {
          "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
          "react": "https://cdn.jsdelivr.net/npm/react@17.0.1/umd/react.production.min.js",
          "react-dom": "https://cdn.jsdelivr.net/npm/react-dom@17.0.1/umd/react-dom.production.min.js",
          "react-is": "https://unpkg.com/react-is@17.0.1/umd/react-is.production.min.js",
          "styled-components": "https://unpkg.com/styled-components@5.2.1/dist/styled-components.min.js",
          "rxjs": "https://cdn.jsdelivr.net/npm/@esm-bundle/rxjs/system/es2015/rxjs.min.js",
          "rxjs/operators": "https://cdn.jsdelivr.net/npm/@esm-bundle/rxjs/system/es2015/rxjs-operators.min.js"
        }
      }
    </script>
    <% if (isLocal) { %>
    <script type="systemjs-importmap">
      {
        "imports": {
          "@single-spa/welcome": "https://unpkg.com/single-spa-welcome/dist/single-spa-welcome.js",
          "@hotel/root-config": "//localhost:9000/hotel-root-config.js",
          "@hotel/styleguide": "//localhost:9003/hotel-styleguide.js",
          "@hotel/api": "//localhost:9004/hotel-api.js",
          "@hotel/food": "//localhost:9005/hotel-food.js",
          "@hotel/auth": "//localhost:9002/hotel-auth.js",
          "@hotel/auth-helper": "//localhost:9001/hotel-auth-helper.js"
        }
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.3.0/dist/import-map-overrides.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>

    <% } else { %>
    <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.3.0/dist/import-map-overrides.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>

    <% } %>

    <template id="single-spa-layout">
      <single-spa-router>
        <main>
          <route path="/">
            <application name="@hotel/auth"></application>
          </route>
          <route path="login">
            <application name="@hotel/auth"></application>
          </route>
          <route path="register">
            <application name="@hotel/auth"></application>
          </route>
          <route path="app">
            <application name="@hotel/food"></application>
          </route>
        </main>
      </single-spa-router>
    </template>
  </head>
  <body>
    <script>
      System.import("@hotel/root-config");
    </script>
    <import-map-overrides-full
      show-when-local-storage="devtools"
      dev-libs
    ></import-map-overrides-full>
  </body>
</html>
